html{
    font-size: 16px;

    main{
        display: flex;
    }

    div{
        width: 100px;
        height: 100px;
        opacity: 0;
        animation: opacityZeroToOne 3s;
        animation-iteration-count: infinite;
    }

    #case1{
        background-color: red;
    }

    #case2{
        background-color: orange;
    }

    #case3{
        background-color: yellow;
    }

    #case4{
        background-color: green;
    }

    #case5{
        background-color: blue;
    }

    #case6{
        background-color: rgb(46, 43, 95);
    }

    #case7{
        background-color: rgb(139, 0, 255);
    }

    @keyframes opacityZeroToOne {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }

}